<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HelloWorld</title>
</head>

{#{% if not request.user.is_authenticated %}#}
<body>
{#{{  user.is_authenticated }}#}
{#{{  user }}#}
{#{{  request.user }}#}
    <a href={% url 'user_manager:login' %}>로그인</a>
</body>
{#{% else %}#}
<body>
    <br>
    <table>
        <tr>
            <th>제목</th>
            <th>작성자</th>
        </tr>
        {% for post in post_list %}
        <tr>
            <td>{{ post.title }}</td>
            <td>{{ post.author }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>
            {% for page in total_page %}
                {% if current_page != page %}
                    <a href="?page={{ page }}">{{ page }}</a>
                {% else %}
                    <span style="font-weight: bold">{{ page }}</span>
                {%  endif %}
            {% endfor %}
            </td>
        </tr>

    </table>

</body>
{#{% endif %}#}
</html>
