{% extends "pages/base.html" %}


{% block head-css %}
    <!-- DataTables CSS -->
    {#    <link href="/static/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">#}
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href="/static/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">




{% endblock %}

{% block head-custom-js %}


    <script type="text/javaScript">

        // through jquery, communication to server in background. In addtion, we use ajax as library.

        $(function () {

            /**
             $.ajax({
				url : "../ajax/get_address_do/si/0/",
				success : function(data) {
					loadCombo($("#{{ form.si_code.auto_id }}"), data.data);
					$("#{{ form.si_code.auto_id }}").val("");
				},
				error : function(request,status,error){
					alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
				}
			});**/


            //// initialize ////////////////////////////////////////////////////////////////////////////////////////////////////
            $("#{{ form.si_code.auto_id }}").val(11);   //서울특별시

            before_year = current_year() - 1;
            if (before_year < 2006) {
                before_year = 2006;
            }
            /**
             alert(before_year);
             alert(current_year());
             alert(current_quarter());
             **/
            $("#{{ form.start_year.auto_id }}").val(before_year);
            $("#{{ form.start_quarter.auto_id }}").val(current_quarter());
            $("#{{ form.end_year.auto_id }}").val(current_year());
            $("#{{ form.end_quarter.auto_id }}").val(current_quarter());
            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////

            $("#{{ form.si_code.auto_id }}").change(function () {   //call this function. when si code is changed
                $.ajax({
                    url: "../ajax/get_address_do/gu/" + $("#{{ form.si_code.auto_id }} option:selected").val(),
                    success: function (data) {
                        loadCombo($("#{{ form.gu_code.auto_id }}"), data.data);

                    },
                    error: function (request, status, error) {
                        alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                    }
                });

            });


            $("#{{ form.gu_code.auto_id }}").change(function () {  //call this function. when gu code combi is changed
                $.ajax({
                    url: "../ajax/get_address_do/dong/" + $("#{{ form.gu_code.auto_id }} option:selected").val(),
                    success: function (data) {
                        loadCombo($("#{{ form.dong_code.auto_id }}"), data.data);

                    },
                    error: function (request, status, error) {
                        alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                    }
                });

            });


            /**
             $("#form_address").submit(function(e) {     // call this function when form is submitted
				//alert('getdata');
				//val datas = $(this).serialize();
				//var datas=$(this).serialize();
				//alert(datas);
				//$('#result_from_search').text(datas);
				var selected_code=$("#combobox_dong option:selected").val();
				//alert(selected_code);
				$.ajax({
					//method : "POST",
					url : "../ajax/getDataAjaxdo/"+selected_code,
					//data : $(this).serialize(),l
					success : function(data) {
						//a+lert(data);
						var obj = $.parseJSON(data.return_data)
						//alert(data.return_data);
						//alert(obj);
						addOnData(obj);

					},
					error : function(request,status,error){
						alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
					}
				});

				e.preventDefault();
				//echo('aa');
			});
             **/


        });


        function ajax_search() {


            if ($.fn.dataTable.isDataTable('#dataTables-example')) {
                var table = $('#dataTables-example').DataTable();
                table.clear();
                table.draw();
            }

            {#            var formData = $("#search_from").serialize();#}
{#            http://wiseyoun07.blog.me/220659439860#}
{#            http://blog.naver.com/protosi/220155288418#}
{#            https://github.com/marioizquierdo/jquery.serializeJSON#}
{#            https://stackoverflow.com/questions/5603117/jquery-create-object-from-form-fields#}

            var formData = $("#search_from").serializeJSON();
            console.log(formData);
{#            https://stackoverflow.com/questions/30975859/how-to-send-current-page-number-in-ajax-request#}


            var dataTable = $('#dataTables-example').DataTable({
                {#                dom: "Bfrtip",#}
                {#                "columnDefs": [#}
                {#                    {#}
                {#                        "targets": [0],#}
                {#                        "visible": false,#}
                {#                        "searchable": false#}
                {#                    },#}
                {#                    {#}
                {#                        "targets": [3],#}
                {#                        "visible": false#}
                {#                    }#}
                {#                ],#}
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "../ajax/get_search/" + 1 + "/",
                    "type": 'POST',
                    {#                    "data": {"userid":452,"test_parameter":'xx'},  //possible values#}
                    "data": formData,  //possible values
{#                    "datatype": 'json',#}
                    {#                    dataType:'json',#}
                    {#                    contentType: "application/json",#}
                    {#                    contentType: "application/x-www-form-urlencoded",#}
                    {#                    error: function (request, status, error) {#}
                    {#                        alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);#}
                    {#                    }#}

                },
                "columns": [
                    {data: "fields.housetype"},
                    {data: "fields.deal_date"},
                    {data: "fields.dealtype"},
                    {data: "fields.address"},
                    {data: "fields.bldg_area"},
                    {data: "fields.aptfno"},
                    {data: "fields.bldg_nm"},
                    {data: "fields.build_year"},
                    {data: "fields.sum_amt"},
                    {data: "fields.rent_amt"},
                ],
                "destroy": true,

            });


            $('#dataTables-example tbody').on('click', 'tr', function () {
                var row_data = dataTable.row(this).data();
                console.log(row_data);
                alert('You clicked -  on ' + row_data['pk'] + '\'s row');
            });
        }


        function move_page(page_num) {

            var formData = $("#search_from").serialize();

            $.ajax({
                method: "post",
                url: "../ajax/get_search/" + page_num + "/",
                data: formData,
                datatype: 'json',
                success: function (data) {
                    alert("success");
                    {#                    obj = $.parseJSON(data.return_data);#}
                    {#                    alert(data.return_data);#}
                    {#                    alert(obj);#}
                    {#                    console.log(obj);#}

                },
                error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            });
        }


        /**
         function addOnData(data) {
		//alert('in addon data');
		//alert(data);
		$(data).each( function() {
			//alert('xxx');
			var dongcode = this.fields.dongcode;
			var bldg_nm = this.fields.bldg_nm;
			//alert("aa"):
			$("#result_from_search").append("<div>"+dongcode+" , "+bldg_nm+"</div>");
		});
	}
         **/

    </script>


{% endblock %}

{% block page %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tables</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="col-lg-12">

        <div class="panel panel-default">

            <!-- panel-heading -->
            <div class="panel-heading">
                <label>검색조건</label>
                <div class="panel-body">
                    {#                    <form id='search_from' action="{% url 'realestate:search' %}?page=1" method="post"#}
                    <form id='search_from' action="{% url 'realestate:search' %}" method="post"#}
                          name="search_form">{% csrf_token %}
                        <!--div class="col-lg-5"-->
                        <input type="hidden" name="test_parameter" value="22">
                        <div class="form-group">
                            {{ form.as_table }}
                        </div>
                        {#                        <button type="button" class="btn btn-primary" onclick="search_form.submit();">조회</button>#}
                        {#                        <button type="button" class="btn btn-primary" onclick="javascript:move_page(2);">조회</button>#}
                        <button type="button" class="btn btn-primary" onclick="javascript:ajax_search();">조회</button>
                        <!--/div-->
                        <!--a href="javascript:login.submit();" class="btn btn-lg btn-success btn-block">Login</a>
                        <input type="submit" value="submit"-->
                    </form>
                </div>

            </div>
            <!-- /.panel-heading -->


            <!-- panel-body -->
            <div class="panel-body">

                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                    <tr>
                        <th>주택유형</th>
                        <th>거래타입</th>
                        <th>거래시기</th>
                        <th>주소</th>
                        <th>면적</th>
                        <th>층</th>
                        <th>이름</th>
                        <th>건축년도</th>
                        <th>보증금</th>
                        <th>월세</th>
                    </tr>
                    </thead>
                </table>
                <!-- /.table-responsive -->

            </div>
            <!-- /.panel-body -->


        </div>
        <!-- /.end of panel panel-default -->
    </div>
    <!-- /.col-lg-12 -->



{% endblock %}

{% block bottom-custom-js %}

    <!-- DataTables JavaScript -->
    {#    <script src="/static/vendor/datatables/js/jquery.dataTables.min.js"></script>#}
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    {#    <script src="/static/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>#}
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>

    <script src="/static/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    </script>

{% endblock %}

